body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}

a {
  color: seashell;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 69px;
  background-color: black;
  border-bottom: 1px solid seashell;
  align-items: center;
}

.main {
  padding-top: 69px;
  width: 1200px;
  margin: auto;
}

header img {
  height: 50px;
  padding-left: 10px;
}

nav {
  text-align: right;
  flex-grow: 1;
}

nav span {
  display: inline-block;
  padding: 20px 10px;
}

.flex-content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#mission {
  height: 700px;
  background-image: url("../images/img-mission-background.jpg");
  padding-top: 70px;
}

#mission .container {
  margin: auto;
  background-color: black;
  width: 100%;
}

h2, h3, h4 {
  margin: 0;
  padding: 10px;
}

#featured {
  height: 700px;
  width: 1000px;
  margin: auto;
  padding-top: 70px;
}

.item {
  padding: 5px;
}

.item img {
  height: 200px;
  width: 300px;
  margin: 10px;
  display: block;
}

.item span {
  display: block;
  padding: 5px;
  font-weight: bold;
  text-align: center;
}

#locations {
  background-image: url("../images/img-locations-background.jpg");
  height: 500px;
  padding-top: 80px;
}

.location-item {
  opacity: 1.0;
  padding: 10px;
  margin: 5px 20px;
  background-color: black;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#contact {
  height: 200px;
}
